#![enable(implicit_some)]
(
	branch_from: ("tl/area_1.tl.ron", "-5s"),
	moments: {
		"5s":(
			happenings: [{
				"happens::SpawnDynamicScene": (
					path: "scn/intro_trigger.scn.ron",
				),
			}]
		),
		"10s": (
			label: "despawn_orb",
			happenings: [{
				"happens::Despawn": (
					entity: "Orb",
				),
				// Disable portal spawning unless this event is disabled
				"happens::ModifyTimeline": [
					(
						path: "tl/intro.tl.ron",
						updates: [
							(
								moment: Labelled("open_orb_portal"),
								disabled: Set( disabled: true ),
							),
						],
					),
				],
			}],
		),
		"15s": (
			label: "open_orb_portal",
			happenings: [{
				// Swap out for portal
				"happens::Despawn": (
					entity: "Orb",
				),
				"happens::SpawnTrigger": (
					trigger: ( oneshot: true, causes: {
						"happens::Despawn": ( entity: "Walls" ),
					}),
					sensor: Ball( radius: 0.25 ),
					transform: (
						translation: (0.0, 0.0, 0.75),
						rotation: (0.0, 0.0, 0.0, 1.0),
						scale: (1.0, 1.0, 1.0),
					)
				),
			}]
		),
		"20s": (
			label: "spawn_reset_trigger",
			happenings: [{
				"happens::SpawnTrigger": (
					name: "IntroResetTrigger",
					trigger: (
						oneshot: true,
						causes: {
							"happens::Log": (msg: "resetting loop!"),
							"happens::ResetLoop": ( to: "0s" ),
						},
					),
					sensor: Cuboid( x: 12.0, y: 12.0, z: 12.0 ),
					transform: (
						translation: (0.0, 0.0, 4.5),
						rotation: (0.0, 0.0, 0.0, 1.0),
						scale: (1.0, 1.0, 1.0),
					),
					lifetime: "1s",
				)
			}]
		)
	},
	merge_into: ("tl/area_1.tl.ron", "25s"),
)
