(
    moments: {
        "4s": (
            label: "Print Hello",
            desc: "Prints 'Hello!' after 4 seconds",
            happenings: {
                "happens::Print": (
                    msg: "Hello!",
                ),
            },
        ),
        "1m": (
            label: "Minute",
            happenings: {},
        ),
    }
)
