(
	branch_from: ("tl/main.tl.ron", "15s"),
	moments: {
		"42s": (
			label: "answer_life_universe_and_everything",
			happenings: {
				"happens::Print": (
					msg: "Eureka!",
				),
			}
		),
		"55s": (
			happenings: {
				"happens::SpawnPortalTo": (
					target: ("tl/main.tl.ron", "7s"),
					sensor: ( radius: 0.5),
				)
			}
		)
	},
	merge_into: ("tl/main.tl.ron", "1m30s"),
)
